[START]
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,%DiscordPortUPD%,%GamePort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00000000000000000000000000000000
--blob=fake_default_tcp:0x00

--template=START_QUIC
--lua-desync=circular:fails=1:time=100
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8:nodrop
--lua-desync=fake:blob=QUIC_VK:repeats=8:nodrop
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=8:nodrop
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=8:nodrop
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=8:nodrop
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=8:nodrop
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=8:nodrop
--lua-desync=fake:blob=QUIC_SHORT:repeats=8:nodrop
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=8:nodrop
--lua-desync=fake:blob=fake_default_udp:repeats=8:nodrop
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:tcp_md5:badsum

--new
--template=START_TLS
--lua-desync=circular:fails=1:retrans=2:maxseq=32768:reset
--lua-desync=syndata:blob=TLS_GOOGLE:nodrop
--lua-desync=syndata:blob=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:nodrop
--lua-desync=syndata:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:nodrop
--lua-desync=fakeddisorder:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000:nodrop
--lua-desync=fakeddisorder:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:pos=1,midsld:seqovl=681:repeats=6:tcp_ts=-5000000:nodrop
--lua-desync=fakeddisorder:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:nodrop
--lua-desync=fakeddisorder:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000:nodrop
--lua-desync=fakeddisorder:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:pos=1,midsld:seqovl=681:repeats=6:tcp_ts=-5000000:nodrop
--lua-desync=fakeddisorder:blob=TLS_GOOGLE:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:nodrop

--lua-desync=syndata:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:nodrop
--lua-desync=fakeddisorder:blob=fake_default_tcp:seqovl_pattern=fake_default_tcp:pos=1,midsld:seqovl=620:repeats=3:tcp_ts=-600000:nodrop
--lua-desync=fakeddisorder:blob=fake_default_tcp:seqovl_pattern=fake_default_tcp:pos=1,midsld:seqovl=681:repeats=3:tcp_ts=-5000000:nodrop
--lua-desync=fakeddisorder:blob=fake_default_tcp:seqovl_pattern=fake_default_tcp:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:nodrop

--lua-desync=syndata:blob=TLS_VK:nodrop
--lua-desync=fakeddisorder:blob=TLS_VK:seqovl_pattern=TLS_VK:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000:nodrop
--lua-desync=fakeddisorder:blob=TLS_VK:seqovl_pattern=TLS_VK:pos=1,midsld:seqovl=681:repeats=6:tcp_ts=-5000000:nodrop
--lua-desync=fakeddisorder:blob=TLS_VK:seqovl_pattern=TLS_VK:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:nodrop

--lua-desync=syndata:blob=TLS_VK_KYBER:nodrop
--lua-desync=fakeddisorder:blob=TLS_VK_KYBER:seqovl_pattern=TLS_VK_KYBER:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000:nodrop
--lua-desync=fakeddisorder:blob=TLS_VK_KYBER:seqovl_pattern=TLS_VK_KYBER:pos=1,midsld:seqovl=681:repeats=6:tcp_ts=-5000000:nodrop
--lua-desync=fakeddisorder:blob=TLS_VK_KYBER:seqovl_pattern=TLS_VK_KYBER:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:nodrop

--lua-desync=syndata:blob=TLS_IANA:nodrop
--lua-desync=fakeddisorder:blob=TLS_IANA:seqovl_pattern=TLS_IANA:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000:nodrop
--lua-desync=fakeddisorder:blob=TLS_IANA:seqovl_pattern=TLS_IANA:pos=1,midsld:seqovl=681:repeats=6:tcp_ts=-5000000:nodrop
--lua-desync=fakeddisorder:blob=TLS_IANA:seqovl_pattern=TLS_IANA:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:nodrop

--lua-desync=syndata:blob=TLS_IANA_BIGSIZE:nodrop
--lua-desync=fakeddisorder:blob=TLS_IANA_BIGSIZE:seqovl_pattern=TLS_IANA_BIGSIZE:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000:nodrop
--lua-desync=fakeddisorder:blob=TLS_IANA_BIGSIZE:seqovl_pattern=TLS_IANA_BIGSIZE:pos=1,midsld:seqovl=681:repeats=6:tcp_ts=-5000000:nodrop
--lua-desync=fakeddisorder:blob=TLS_IANA_BIGSIZE:seqovl_pattern=TLS_IANA_BIGSIZE:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:nodrop

--lua-desync=syndata:blob=TLS_ALERT:nodrop
--lua-desync=fakeddisorder:blob=TLS_ALERT:seqovl_pattern=TLS_ALERT:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000:nodrop
--lua-desync=fakeddisorder:blob=TLS_ALERT:seqovl_pattern=TLS_ALERT:pos=1,midsld:seqovl=681:repeats=6:tcp_ts=-5000000:nodrop
--lua-desync=fakeddisorder:blob=TLS_ALERT:seqovl_pattern=TLS_ALERT:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:nodrop

--lua-desync=syndata:blob=TLS_4PDA:nodrop
--lua-desync=fakeddisorder:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000:nodrop
--lua-desync=fakeddisorder:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:pos=1,midsld:seqovl=681:repeats=6:tcp_ts=-5000000:nodrop
--lua-desync=fakeddisorder:blob=TLS_4PDA:seqovl_pattern=TLS_4PDA:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:nodrop

--lua-desync=syndata:blob=fake_default_http:nodrop
--lua-desync=fakeddisorder:blob=fake_default_http:seqovl_pattern=fake_default_http:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000:nodrop
--lua-desync=fakeddisorder:blob=fake_default_http:seqovl_pattern=fake_default_http:pos=1,midsld:seqovl=681:repeats=6:tcp_ts=-5000000:nodrop
--lua-desync=fakeddisorder:blob=fake_default_http:seqovl_pattern=fake_default_http:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:nodrop

--new
--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial
--import=START_QUIC

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--import=START_QUIC

[END]
--new
--filter-tcp=80,443,%DiscordPort%
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--import=START_TLS

[amazon]
use_in>>game_mod

[cloudflare]
use_in>>game_mod

[roblox]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello
--import=START_TLS

--new
--filter-udp=0,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-n2
--payload=all
--lua-desync=circular:key=udp_rules_game:fails=1:udp_out=4:udp_in=1
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=12
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=10
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6
--lua-desync=fake:blob=fake_default_udp:repeats=6
