[START]
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,%DiscordPortUPD%,%GamePort%,

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00000000000000000000000000000000
--blob=fake_default_tcp:0x00000000000000000000000000000000

--template=START_QUIC
--lua-desync=circular:fails=1:time=100
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:tcp_md5:badsum

--new
--template=START_TLS
--lua-desync=circular:fails=2:retrans=2:maxseq=32768:reset
--lua-desync=fake:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:tcp_ts=-600000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:tcp_ts=-600000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=620:seqovl_pattern=TLS_GOOGLE:tcp_ts=-600000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=620:seqovl_pattern=TLS_GOOGLE:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_ts=-600000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=620:seqovl_pattern=TLS_GOOGLE:tcp_ts=-600000:repeats=11
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=620:seqovl_pattern=TLS_GOOGLE:tcp_ts=-600000:repeats=11:nodrop

--lua-desync=fake:blob=TLS_IANA:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_ts=-66000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_ts=-66000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=652:seqovl_pattern=TLS_IANA:tcp_ts=-66000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=652:seqovl_pattern=TLS_IANA:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_ts=-66000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=hostfakesplit:host=www.yandex.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=652:seqovl_pattern=TLS_IANA:tcp_ts=-66000:repeats=11
--lua-desync=hostfakesplit:host=www.yandex.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=652:seqovl_pattern=TLS_IANA:tcp_ts=-66000:repeats=11:nodrop

--lua-desync=fake:blob=TLS_SHORT:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_ts=-66000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_SHORT:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_ts=-66000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_SHORT:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl=681:seqovl_pattern=TLS_SHORT:tcp_ts=-66000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl=681:seqovl_pattern=TLS_SHORT:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl=681:seqovl_pattern=fake_default_tcp:tcp_ts=-66000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl=681:seqovl_pattern=fake_default_tcp:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl=681:seqovl_pattern=TLS_SHORT:tcp_ts=-66000:repeats=11
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl=681:seqovl_pattern=TLS_SHORT:tcp_ts=-66000:repeats=11:nodrop

--lua-desync=fake:blob=TLS_MAX:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_ts=-66000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_MAX:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_ts=-66000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_MAX:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.max.ru:seqovl=726:seqovl_pattern=TLS_MAX:tcp_ts=-66000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.max.ru:seqovl=726:seqovl_pattern=TLS_MAX:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.max.ru:seqovl=726:seqovl_pattern=fake_default_tcp:tcp_ts=-66000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.max.ru:seqovl=726:seqovl_pattern=fake_default_tcp:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=hostfakesplit:host=www.max.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.max.ru:seqovl=726:seqovl_pattern=TLS_MAX:tcp_ts=-66000:repeats=11
--lua-desync=hostfakesplit:host=www.max.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.max.ru:seqovl=726:seqovl_pattern=TLS_MAX:tcp_ts=-66000:repeats=11:nodrop

--lua-desync=fake:blob=TLS_GOSUSLUGI:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:tcp_ts=-10000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_GOSUSLUGI:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:tcp_ts=-10000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_GOSUSLUGI:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:tcp_ts=-10000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:seqovl=1:seqovl_pattern=TLS_GOSUSLUGI:tcp_ts=-10000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:seqovl=1:seqovl_pattern=TLS_GOSUSLUGI:tcp_ts=-10000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_ts=-10000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_ts=-10000:repeats=11:nodrop
--lua-desync=hostfakesplit:host=www.gosuslugi.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:seqovl=1:seqovl_pattern=TLS_GOSUSLUGI:tcp_ts=-10000:repeats=11
--lua-desync=hostfakesplit:host=www.gosuslugi.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:seqovl=1:seqovl_pattern=TLS_GOSUSLUGI:tcp_ts=-10000:repeats=11:nodrop

--lua-desync=fake:blob=TLS_VK:tls_mod=rnd,dupsid,sni=vk.com:tcp_ts=-10000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_VK:tls_mod=rnd,dupsid,sni=vk.com:tcp_ts=-10000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_VK:tls_mod=rnd,dupsid,sni=vk.com:tcp_ts=-10000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=vk.com:seqovl=652:seqovl_pattern=TLS_VK:tcp_ts=-10000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=vk.com:seqovl=652:seqovl_pattern=TLS_VK:tcp_ts=-10000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=vk.com:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_ts=-10000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=vk.com:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_ts=-10000:repeats=11:nodrop
--lua-desync=hostfakesplit:host=vk.com:midhost=host-2:tls_mod=rnd,dupsid,sni=vk.com:seqovl=652:seqovl_pattern=TLS_VK:tcp_ts=-10000:repeats=11
--lua-desync=hostfakesplit:host=vk.com:midhost=host-2:tls_mod=rnd,dupsid,sni=vk.com:seqovl=652:seqovl_pattern=TLS_VK:tcp_ts=-10000:repeats=11:nodrop

--lua-desync=fake:blob=TLS_4PDA:tls_mod=rnd,dupsid,sni=ria.ru:tcp_ts=-600000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:tls_mod=rnd,dupsid,sni=ria.ru:tcp_ts=-600000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:tls_mod=rnd,dupsid,sni=ria.ru:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=ria.ru:seqovl=620:seqovl_pattern=TLS_4PDA:tcp_ts=-600000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=ria.ru:seqovl=620:seqovl_pattern=TLS_4PDA:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=ria.ru:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_ts=-600000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=ria.ru:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=hostfakesplit:host=ria.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=ria.ru:seqovl=620:seqovl_pattern=TLS_4PDA:tcp_ts=-600000:repeats=11
--lua-desync=hostfakesplit:host=ria.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=ria.ru:seqovl=620:seqovl_pattern=TLS_4PDA:tcp_ts=-600000:repeats=11:nodrop

--lua-desync=fake:blob=TLS_VK_KYBER:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_ts=-66000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_ts=-66000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=dzen.ru:seqovl=726:seqovl_pattern=TLS_VK_KYBER:tcp_ts=-66000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=dzen.ru:seqovl=726:seqovl_pattern=TLS_VK_KYBER:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=dzen.ru:seqovl=726:seqovl_pattern=fake_default_tcp:tcp_ts=-66000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=dzen.ru:seqovl=726:seqovl_pattern=fake_default_tcp:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=hostfakesplit:host=dzen.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=dzen.ru:seqovl=726:seqovl_pattern=TLS_VK_KYBER:tcp_ts=-66000:repeats=11
--lua-desync=hostfakesplit:host=dzen.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=dzen.ru:seqovl=726:seqovl_pattern=TLS_VK_KYBER:tcp_ts=-66000:repeats=11:nodrop

--lua-desync=fake:blob=TLS_VK:tls_mod=rnd,dupsid,sni=mail.ru:tcp_ts=-66000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_VK:tls_mod=rnd,dupsid,sni=mail.ru:tcp_ts=-66000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_VK:tls_mod=rnd,dupsid,sni=mail.ru:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=mail.ru:seqovl=620:seqovl_pattern=TLS_VK:tcp_ts=-66000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=mail.ru:seqovl=620:seqovl_pattern=TLS_VK:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=mail.ru:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_ts=-66000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=mail.ru:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_ts=-66000:repeats=11:nodrop
--lua-desync=hostfakesplit:host=mail.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=mail.ru:seqovl=620:seqovl_pattern=TLS_VK:tcp_ts=-66000:repeats=11
--lua-desync=hostfakesplit:host=mail.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=mail.ru:seqovl=620:seqovl_pattern=TLS_VK:tcp_ts=-66000:repeats=11:nodrop

--lua-desync=fake:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=gmail.com:tcp_ts=-600000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=gmail.com:tcp_ts=-600000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=gmail.com:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=gmail.com:seqovl=620:seqovl_pattern=TLS_GOOGLE:tcp_ts=-600000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=gmail.com:seqovl=620:seqovl_pattern=TLS_GOOGLE:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=gmail.com:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_ts=-600000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=gmail.com:seqovl=620:seqovl_pattern=fake_default_tcp:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=hostfakesplit:host=gmail.com:midhost=host-2:tls_mod=rnd,dupsid,sni=gmail.com:seqovl=620:seqovl_pattern=TLS_GOOGLE:tcp_ts=-600000:repeats=11
--lua-desync=hostfakesplit:host=gmail.com:midhost=host-2:tls_mod=rnd,dupsid,sni=gmail.com:seqovl=620:seqovl_pattern=TLS_GOOGLE:tcp_ts=-600000:repeats=11:nodrop

--lua-desync=fake:blob=TLS_ALERT:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_ts=-600000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_ts=-600000:repeats=11
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:seqovl=652:seqovl_pattern=TLS_ALERT:tcp_ts=-600000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:seqovl=652:seqovl_pattern=TLS_ALERT:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_ts=-600000:repeats=11
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_ts=-600000:repeats=11:nodrop
--lua-desync=hostfakesplit:host=hd.kinopoisk.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:seqovl=652:seqovl_pattern=TLS_ALERT:tcp_ts=-600000:repeats=11
--lua-desync=hostfakesplit:host=hd.kinopoisk.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:seqovl=652:seqovl_pattern=TLS_ALERT:tcp_ts=-600000:repeats=11:nodrop

--new
--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial
--import=START_QUIC


[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--import=START_QUIC

[END]
--new
--filter-tcp=80,443,%DiscordPort%
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--import=START_TLS

[amazon]
use_in>>game_mod

[cloudflare]
use_in>>game_mod

[roblox]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-d10
--payload=tls_client_hello
--import=START_TLS

--new
--filter-udp=0,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-n2
--payload=all
--import=START_QUIC
