[START]
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,%DiscordPortUPD%,%GamePort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_blank:0x00000000

--template=START_QUIC
--out-range=-s34228
--in-range=-s5556
--lua-desync=circular:fails=1:time=100
--lua-desync=fake:blob=fake_default_quic
--lua-desync=fake:blob=fake_default_quic:repeats=3
--lua-desync=fake:blob=fake_default_quic:repeats=6
--lua-desync=fake:blob=fake_default_quic:repeats=11
--lua-desync=fake:blob=fake_default_quic:repeats=16
--lua-desync=fake:blob=fake_blank:repeats=8
--lua-desync=fake:blob=fake_blank:repeats=16
--lua-desync=fake:blob=QUIC_GOOGLE
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=3
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=11
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=16
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:tcp_md5:badsum

--new
--template=START_TLS
--out-range=-s34228
--in-range=-s5556
--lua-desync=circular:fails=2:reset
--lua-desync=multidisorder_legacy:pos=2:strategy=1
--lua-desync=fake:blob=fake_blank:strategy=2
--lua-desync=fake:tcp_seq=-10000:tcp_ack=-66000:blob=fake_default_tls:tls_mod=rnd,rndsni,dupsid:strategy=2
--lua-desync=fake:blob=fake_blank:strategy=3
--lua-desync=fake:tcp_flags_unset=ACK:blob=fake_default_tls:tls_mod=rnd,rndsni,dupsid:strategy=3
--lua-desync=fake:tcp_ts=-600000:tcp_ts_up:blob=fake_default_tls:strategy=4
--lua-desync=fake:tcp_md5:repeats=2:blob=fake_default_tls:strategy=5
--lua-desync=fakedsplit:tcp_seq=-10000:tcp_ack=-66000:pos=1:strategy=6
--lua-desync=fakedsplit:tcp_flags_unset=ACK:pos=1:strategy=7
--lua-desync=fakedsplit:tcp_ts=-600000:pos=1:strategy=8
--lua-desync=fakedsplit:tcp_md5:repeats=2:pos=1:strategy=9
--lua-desync=hostfakesplit:badsum:nofake2:strategy=10
--lua-desync=hostfakesplit:tcp_ack=-66000:strategy=11
--lua-desync=hostfakesplit:tcp_flags_unset=ACK:strategy=12
--lua-desync=hostfakesplit:tcp_ts=-600000:strategy=13
--lua-desync=hostfakesplit:tcp_md5:strategy=14
--lua-desync=send:ipfrag:strategy=15
--lua-desync=pktmod:ipfrag:strategy=16
--lua-desync=multisplit:pos=midsld:strategy=16
--lua-desync=multisplit:pos=10,sniext+1:seqovl=1:strategy=17
--lua-desync=multisplit:pos=10,sniext+4:seqovl=1:strategy=18
--lua-desync=multisplit:pos=10,midsld:seqovl=1:strategy=19
--lua-desync=syndata:strategy=20
--lua-desync=multisplit:pos=1:strategy=20

--new
--import=START_QUIC
--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--import=START_QUIC

[youtube]
--new
--filter-tcp=443
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello
--out-range=-s34228
--in-range=-s5556
--lua-desync=circular:fails=2:reset
--lua-desync=multidisorder_legacy:pos=2,midsld:strategy=1
--lua-desync=fake:blob=fake_blank:strategy=2
--lua-desync=fake:tcp_seq=-10000:tcp_ack=-66000:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com,dupsid:strategy=2
--lua-desync=fake:blob=fake_blank:strategy=3
--lua-desync=fake:tcp_flags_unset=ACK:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com,dupsid:strategy=3
--lua-desync=fake:tcp_ts=-600000:tcp_ts_up:blob=fake_default_tls:tls_mod=sni=www.google.com:strategy=4
--lua-desync=fake:tcp_md5:repeats=2:blob=fake_default_tls:tls_mod=sni=www.google.com:strategy=5
--lua-desync=fakedsplit:tcp_seq=-10000:tcp_ack=-66000:pos=1:strategy=6
--lua-desync=fakedsplit:tcp_flags_unset=ACK:pos=1:strategy=7
--lua-desync=fakedsplit:tcp_ts=-600000:pos=1:strategy=8
--lua-desync=fakedsplit:tcp_md5:repeats=2:pos=1:strategy=9
--lua-desync=hostfakesplit:badsum:nofake2:strategy=10
--lua-desync=hostfakesplit:tcp_ack=-66000:strategy=11
--lua-desync=hostfakesplit:tcp_flags_unset=ACK:strategy=12
--lua-desync=hostfakesplit:tcp_ts=-600000:strategy=13
--lua-desync=hostfakesplit:tcp_md5:strategy=14
--lua-desync=hostfakesplit:ip6_hopbyhop:nofake2:midhost=midsld:strategy=15
--lua-desync=multisplit:pos=10,sniext+1:seqovl=1:strategy=16
--lua-desync=multisplit:pos=10,midsld:seqovl=1:strategy=17
--lua-desync=syndata:strategy=18
--lua-desync=multisplit:pos=1:strategy=18

[END]
--new
--filter-tcp=443,%DiscordPort%
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--import=START_TLS

--new
--filter-tcp=80
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=http_req
--out-range=-s34228
--in-range=-s5556
--lua-desync=circular:fails=2:reset
--lua-desync=http_methodeol
--lua-desync=multidisorder_legacy:pos=method+2
--lua-desync=fake:tcp_ack=-66000:blob=fake_default_http
--lua-desync=fake:tcp_flags_unset=ACK:blob=fake_default_http
--lua-desync=fake:tcp_ts=-600000:tcp_ts_up:blob=fake_default_http
--lua-desync=fake:tcp_md5:repeats=2:blob=fake_default_http
--lua-desync=fake:ip6_hopbyhop2:blob=fake_blank
--lua-desync=fakedsplit:tcp_ack=-66000:pos=method+2
--lua-desync=fakedsplit:tcp_flags_unset=ACK:pos=method+2
--lua-desync=fakedsplit:tcp_ts=-600000:pos=method+2
--lua-desync=fakedsplit:tcp_md5:pos=method+2
--lua-desync=hostfakesplit:badsum:nofake2
--lua-desync=hostfakesplit:tcp_seq=-10000:tcp_ack=-66000:nofake2
--lua-desync=hostfakesplit:tcp_flags_unset=ACK
--lua-desync=hostfakesplit:tcp_ts=-600000
--lua-desync=hostfakesplit:tcp_md5
--lua-desync=hostfakesplit:ip6_hopbyhop:nofake2
--lua-desync=hostfakesplit:ip6_hopbyhop2:nofake2
--lua-desync=multisplit:pos=method+2:seqovl=1
--lua-desync=multisplit:pos=method+2,midsld:seqovl=1
--lua-desync=multisplit:pos=method+2,midsld:seqovl=1
--lua-desync=multisplit:pos=method+2,midsld:seqovl=1
--lua-desync=syndata
--lua-desync=syndata:strategy=24
--lua-desync=multisplit:pos=method+2:strategy=24

[amazon]
use_in>>game_mod

[cloudflare]
use_in>>game_mod

[roblox]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--import=START_TLS

--new
--filter-udp=0,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-n2
--payload=all
--lua-desync=circular:fails=2
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=12
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=10
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6