[START]
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,%DiscordPortUPD%,%GamePort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00000000000000000000000000000000
--blob=fake_default_tcp:0x00

--template=START_QUIC
--lua-desync=circular:fails=1:time=100
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6
--lua-desync=fake:blob=QUIC_SHORT:repeats=6
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6
--lua-desync=fake:blob=fake_default_udp:repeats=6
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:tcp_md5:badsum

--new
--template=START_TLS
--lua-desync=circular:fails=1:time=100:retrans=2:maxseq=32768:reset
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000
--lua-desync=fake:blob=TLS_GOOGLE:repeats=6:tcp_seq=2
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_seq=2
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_seq=2:badsum
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE:repeats=6:tcp_seq=2:tcp_md5:badsum
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000:badsum
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com:repeats=3:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_seq=1000
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_seq=1000:badsum
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=620:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:seqovl=620:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,sni=www.google.com:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:seqovl_pattern=fake_default_tcp:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:seqovl_pattern=fake_default_tcp:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:seqovl_pattern=fake_default_tcp:seqovl=681:repeats=6:tcp_ts=-5000000
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:seqovl_pattern=fake_default_tcp:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:seqovl_pattern=fake_default_tcp:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000:badsum
--lua-desync=fake:ip_id=zero:blob=fake_default_tls:tls_mod=rnd,sni=www.ozon.com:repeats=3:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:tls_mod=rnd,sni=www.ozon.com:seqovl=620:repeats=3:tcp_ts=-600000
--lua-desync=fakedsplit:tls_mod=rnd,sni=www.ozon.com:seqovl=620:repeats=3:tcp_ts=-600000:badsum
--lua-desync=fakedsplit:tls_mod=rnd,sni=www.ozon.com:seqovl=620:repeats=3:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:tls_mod=rnd,sni=www.ozon.com:seqovl=681:repeats=3:tcp_ts=-5000000:tcp_md5
--lua-desync=fakedsplit:tls_mod=rnd,sni=www.ozon.com:seqovl=681:repeats=3:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.ozon.com:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.ozon.com:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:seqovl_pattern=fake_default_tcp:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:seqovl_pattern=fake_default_tcp:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:seqovl_pattern=fake_default_tcp:seqovl=681:repeats=6:tcp_ts=-5000000
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:seqovl_pattern=fake_default_tcp:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:seqovl_pattern=fake_default_tcp:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=fake:blob=TLS_VK:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_VK:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_VK:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fake:ip_id=zero:blob=TLS_VK:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=620:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=fake:blob=TLS_VK_KYBER:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK_KYBER:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK_KYBER:seqovl=620:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK_KYBER:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK_KYBER:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK_KYBER:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK_KYBER:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_VK_KYBER:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=fake:blob=TLS_IANA:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fake:ip_id=zero:blob=TLS_IANA:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA:seqovl=620:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=fake:blob=TLS_IANA_BIGSIZE:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA_BIGSIZE:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_IANA_BIGSIZE:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fake:ip_id=zero:blob=TLS_IANA_BIGSIZE:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=620:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=fake:blob=TLS_ALERT:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_ALERT:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_ALERT:seqovl=620:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_ALERT:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_ALERT:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_ALERT:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_ALERT:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_ALERT:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=fake:blob=TLS_4PDA:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_4PDA:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_4PDA:seqovl=620:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_4PDA:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_4PDA:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_4PDA:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=TLS_4PDA:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=TLS_4PDA:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=fake:blob=fake_default_http:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_http:repeats=6:tcp_ts=-600000
--lua-desync=fake:ip_id=zero:blob=fake_default_http:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fake:ip_id=zero:blob=fake_default_http:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=fake_default_http:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=fake_default_http:seqovl=620:repeats=6:tcp_ts=-600000:badsum
--lua-desync=fakedsplit:seqovl_pattern=fake_default_http:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=fake_default_http:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=fake_default_http:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=fake_default_http:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5
--lua-desync=fakedsplit:seqovl_pattern=fake_default_http:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=multisplit:pos=2:seqovl=681:repeats=8
--lua-desync=multisplit:ip_id=zero:pos=1,midsld:repeats=6:seqovl=681
--lua-desync=multisplit:ip_id=zero:pos=1:seqovl=740
--lua-desync=multisplit:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000:badsum
--lua-desync=multisplit:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=multisplit:pos=1,midsld:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=multisplit:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=multisplit:pos=1,midsld:seqovl=620:repeats=6:tcp_ts=-600000
--lua-desync=multisplit:pos=1,midsld:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5
--lua-desync=multisplit:pos=1,midsld:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:seqovl_pattern=TLS_IANA:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:seqovl_pattern=TLS_IANA:seqovl=681:repeats=6:tcp_ts=-5000000
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:seqovl_pattern=TLS_IANA:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:seqovl_pattern=TLS_IANA:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:seqovl_pattern=TLS_IANA:seqovl=620:repeats=6:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:seqovl_pattern=TLS_IANA:seqovl=681:repeats=6:tcp_ts=-5000000
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:seqovl_pattern=TLS_IANA:seqovl=681:repeats=6:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:seqovl_pattern=TLS_IANA:seqovl=726:repeats=8:tcp_seq=1000:tcp_md5:badsum

--new
--filter-udp=443
--filter-l7=quic
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=quic_initial
--import=START_QUIC

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--import=START_QUIC

[END]
--new
--filter-tcp=80,443,%DiscordPort%
--filter-l7=http,tls
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello,http_req
--import=START_TLS

[amazon]
use_in>>game_mod

[cloudflare]
use_in>>game_mod

[roblox]
use_in>>game_mod

[game_mod]
--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--payload=tls_client_hello
--import=START_TLS

--new
--filter-udp=0,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--out-range=-n2
--payload=all
--import=START_QUIC