[START]
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,%DiscordPortUPD%,%GamePort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00
--blob=fake_default_tcp:0x00

--template=START_QUIC
--lua-desync=circular:fails=1:time=100
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=8
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=8
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=8
--lua-desync=fake:blob=QUIC_SHORT:repeats=8
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=8
--lua-desync=fake:blob=fake_default_udp:repeats=8
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:tcp_md5:badsum

--new
--template=START_TLS
--lua-desync=circular:fails=1:retrans=2:maxseq=32768:reset
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.google.com:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=fake_default_tcp:repeats=6:tcp_ts=-600000:strategy=1
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.google.com:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=fake_default_tcp:repeats=6:tcp_ts=-600000:strategy=2
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.google.com:repeats=6:tcp_ts=-600000
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:tls_mod=rnd,dupsid,sni=www.google.com:seqovl_pattern=fake_default_tcp:tcp_ts=-600000:repeats=6:strategy=3

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=vk.com:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=fake_default_tcp:seqovl=652:repeats=6:tcp_ts=-600000:strategy=4
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=vk.com:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=fake_default_tcp:seqovl=652:repeats=6:tcp_ts=-600000:strategy=5
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=vk.com:repeats=6:tcp_ts=-600000
--lua-desync=hostfakesplit:host=vk.com:midhost=host-2:tls_mod=rnd,dupsid,sni=vk.com:seqovl_pattern=fake_default_tcp:seqovl=652:tcp_ts=-600000:repeats=6:strategy=6

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.yandex.ru:repeats=6:tcp_ts=-5000000
--lua-desync=fakedsplit:seqovl_pattern=fake_default_tcp:seqovl=681:repeats=8:tcp_ts=-5000000:strategy=7
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.yandex.ru:repeats=6:tcp_ts=-5000000
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=fake_default_tcp:seqovl=681:repeats=8:tcp_ts=-5000000:strategy=8
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.yandex.ru:repeats=6:tcp_ts=-5000000
--lua-desync=hostfakesplit:host=www.yandex.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl_pattern=fake_default_tcp:seqovl=681:tcp_ts=-5000000:repeats=8:strategy=9

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.ozon.ru:repeats=6:tcp_ts=-10000
--lua-desync=fakedsplit:seqovl_pattern=ZERO_256:seqovl=620:repeats=6:tcp_ts=-10000:strategy=10
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.ozon.ru:repeats=6:tcp_ts=-10000
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=ZERO_256:seqovl=620:repeats=6:tcp_ts=-10000:strategy=11
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.ozon.ru:repeats=6:tcp_ts=-10000
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl_pattern=ZERO_256:seqovl=620:tcp_ts=-10000:repeats=6:strategy=12

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_ALERT:seqovl=652:repeats=6:tcp_ts=-600000:strategy=13
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=TLS_ALERT:seqovl=652:repeats=6:tcp_ts=-600000:strategy=14
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:repeats=6:tcp_ts=-600000
--lua-desync=hostfakesplit:host=hd.kinopoisk.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:seqovl_pattern=TLS_ALERT:seqovl=652:tcp_ts=-600000:repeats=6:strategy=15

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.max.ru:repeats=6:tcp_ts=-5000000
--lua-desync=fakedsplit:seqovl_pattern=TLS_MAX:seqovl=726:repeats=8:tcp_ts=-5000000:strategy=16
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.max.ru:repeats=6:tcp_ts=-5000000
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=TLS_MAX:seqovl=726:repeats=8:tcp_ts=-5000000:strategy=17
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.max.ru:repeats=6:tcp_ts=-5000000
--lua-desync=hostfakesplit:host=www.max.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.max.ru:seqovl_pattern=TLS_MAX:seqovl=726:tcp_ts=-5000000:repeats=8:strategy=18

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=rutracker.org:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_RUTRACKER:seqovl=652:repeats=6:tcp_ts=-600000:strategy=19
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=rutracker.org:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=TLS_RUTRACKER:seqovl=652:repeats=6:tcp_ts=-600000:strategy=20
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=rutracker.org:repeats=6:tcp_ts=-600000
--lua-desync=hostfakesplit:host=rutracker.org:midhost=host-2:tls_mod=rnd,dupsid,sni=rutracker.org:seqovl_pattern=TLS_RUTRACKER:seqovl=652:tcp_ts=-600000:repeats=6:strategy=21

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.sberbank.ru:repeats=6:tcp_ts=-10000
--lua-desync=fakedsplit:seqovl_pattern=TLS_SBERBANK:seqovl=620:repeats=6:tcp_ts=-10000:strategy=22
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.sberbank.ru:repeats=6:tcp_ts=-10000
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=TLS_SBERBANK:seqovl=620:repeats=6:tcp_ts=-10000:strategy=23
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.sberbank.ru:repeats=6:tcp_ts=-10000
--lua-desync=hostfakesplit:host=www.sberbank.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.sberbank.ru:seqovl_pattern=TLS_SBERBANK:seqovl=620:tcp_ts=-10000:repeats=6:strategy=24

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:repeats=6:tcp_ts=-5000000
--lua-desync=fakedsplit:seqovl_pattern=TLS_GOSUSLUGI:seqovl=1:repeats=6:tcp_ts=-5000000:strategy=25
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:repeats=6:tcp_ts=-5000000
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=TLS_GOSUSLUGI:seqovl=1:repeats=6:tcp_ts=-5000000:strategy=26
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:repeats=6:tcp_ts=-5000000
--lua-desync=hostfakesplit:host=www.gosuslugi.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.gosuslugi.ru:seqovl_pattern=TLS_GOSUSLUGI:seqovl=1:tcp_ts=-5000000:repeats=6:strategy=27

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=4pda.to:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_4PDA:seqovl=620:repeats=6:tcp_ts=-600000:strategy=28
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=4pda.to:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=TLS_4PDA:seqovl=620:repeats=6:tcp_ts=-600000:strategy=29
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=4pda.to:repeats=6:tcp_ts=-600000
--lua-desync=hostfakesplit:host=4pda.to:midhost=host-2:tls_mod=rnd,dupsid,sni=4pda.to:seqovl_pattern=TLS_4PDA:seqovl=620:tcp_ts=-600000:repeats=6:strategy=30

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.yandex.ru:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=652:repeats=6:tcp_ts=-600000:strategy=31
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.yandex.ru:repeats=6:tcp_ts=-600000
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=652:repeats=6:tcp_ts=-600000:strategy=32
--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.yandex.ru:repeats=6:tcp_ts=-600000
--lua-desync=hostfakesplit:host=www.yandex.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl_pattern=TLS_IANA_BIGSIZE:seqovl=652:tcp_ts=-600000:repeats=6:strategy=33

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=ZERO_512:seqovl=726:repeats=8:tcp_ts=-5000000:tcp_md5:badsum:strategy=34
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.google.com:repeats=8:tcp_ts=-5000000:tcp_md5:badsum
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=ZERO_512:seqovl=726:repeats=8:tcp_ts=-5000000:tcp_md5:badsum:strategy=35
--lua-desync=hostfakesplit:midhost=host-2:tls_mod=rnd,dupsid,sni=www.google.com:seqovl_pattern=ZERO_512:seqovl=726:tcp_ts=-5000000:repeats=8:tcp_md5:badsum:strategy=36

--lua-desync=fake:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.ozon.ru:repeats=8:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:seqovl_pattern=ZERO_1024:seqovl=652:repeats=8:tcp_ts=-600000:tcp_md5:badsum:strategy=37
--lua-desync=fake:ip_id=zero:blob=fake_default_tcp:tls_mod=rnd,dupsid,sni=www.ozon.ru:repeats=8:tcp_ts=-600000:tcp_md5:badsum
--lua-desync=fakedsplit:ip_id=zero:seqovl_pattern=ZERO_1024:seqovl=652:repeats=8:tcp_ts=-600000:tcp_md5:badsum:strategy=38
--lua-desync=hostfakesplit:midhost=host-2:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl_pattern=ZERO_1024:seqovl=652:tcp_ts=-600000:repeats=8:tcp_md5:badsum:strategy=39

--new
--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--import=START_QUIC

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--import=START_QUIC

[END]
--new
--filter-tcp=80,443,%DiscordPort%
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%

[amazon]
use_in>>game_mod

[cloudflare]
use_in>>game_mod

[roblox]
use_in>>game_mod

[game_mod]
--new
--filter-udp=443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--import=START_QUIC

--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--import=START_TLS

--new
--filter-udp=0,%GamePort%
--payload=all
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=circular:key=udp_rules_game:fails=1:udp_out=4:udp_in=1
--lua-desync=fake:blob=fake_default_udp:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_GOOGLE:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_VK:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_FACEBOOK:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_SHORT:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_SHORT_HEADER:autottl=2:repeats=12:cutoff=n3