[START]
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,%DiscordPortUPD%,%GamePort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00
--blob=fake_default_tcp:0x00

--template=START_QUIC
--lua-desync=circular:fails=1:time=100
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=8
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=8
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=8
--lua-desync=fake:blob=QUIC_SHORT:repeats=8
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=8
--lua-desync=fake:blob=fake_default_udp:repeats=8
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:tcp_md5:badsum

--new
--template=START_TLS
--lua-desync=circular:fails=1:retrans=2:maxseq=32768:reset
--lua-desync=multisplit:pos=2:seqovl=652:seqovl_pattern=TLS_GOOGLE
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=652:seqovl_pattern=TLS_GOOGLE
--lua-desync=fake:blob=TLS_GOOGLE
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-4:seqovl=652:seqovl_pattern=TLS_GOOGLE:strategy=3
--lua-desync=fake:ip_id=zero:blob=TLS_GOOGLE
--lua-desync=hostfakesplit:ip_id=zero:host=www.google.com:midhost=host-4:seqovl=652:seqovl_pattern=TLS_GOOGLE:strategy=4

--lua-desync=multisplit:pos=2:seqovl=652:seqovl_pattern=TLS_VK
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=652:seqovl_pattern=TLS_VK
--lua-desync=fake:blob=TLS_VK
--lua-desync=hostfakesplit:host=vk.com:midhost=host-4:seqovl=652:seqovl_pattern=TLS_VK:strategy=7
--lua-desync=fake:ip_id=zero:blob=TLS_VK
--lua-desync=hostfakesplit:ip_id=zero:host=vk.com:midhost=host-4:seqovl=652:seqovl_pattern=TLS_VK:strategy=8

--lua-desync=multisplit:pos=2:seqovl=652:seqovl_pattern=TLS_IANA
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=652:seqovl_pattern=TLS_IANA
--lua-desync=fake:blob=TLS_IANA
--lua-desync=hostfakesplit:host=www.yandex.ru:midhost=host-4:seqovl=652:seqovl_pattern=TLS_IANA:strategy=11
--lua-desync=fake:ip_id=zero:blob=TLS_IANA
--lua-desync=hostfakesplit:ip_id=zero:host=www.yandex.ru:midhost=host-4:seqovl=652:seqovl_pattern=TLS_IANA:strategy=12

--lua-desync=multisplit:pos=2:seqovl=620:seqovl_pattern=TLS_SHORT
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=681:seqovl_pattern=TLS_SHORT
--lua-desync=fake:blob=TLS_SHORT
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-4:seqovl=620:seqovl_pattern=TLS_SHORT:strategy=15
--lua-desync=fake:ip_id=zero:blob=TLS_SHORT
--lua-desync=hostfakesplit:ip_id=zero:host=www.ozon.ru:midhost=host-4:seqovl=681:seqovl_pattern=TLS_SHORT:strategy=16

--lua-desync=multisplit:pos=2:seqovl=652:seqovl_pattern=TLS_ALERT
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=652:seqovl_pattern=TLS_ALERT
--lua-desync=fake:blob=TLS_ALERT
--lua-desync=hostfakesplit:host=hd.kinopoisk.ru:midhost=host-4:seqovl=652:seqovl_pattern=TLS_ALERT:strategy=19
--lua-desync=fake:ip_id=zero:blob=TLS_ALERT
--lua-desync=hostfakesplit:ip_id=zero:host=hd.kinopoisk.ru:midhost=host-4:seqovl=652:seqovl_pattern=TLS_ALERT:strategy=20

--lua-desync=multisplit:pos=2:seqovl=652:seqovl_pattern=TLS_MAX
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=652:seqovl_pattern=TLS_MAX
--lua-desync=fake:blob=TLS_MAX
--lua-desync=hostfakesplit:host=www.max.ru:midhost=host-4:seqovl=652:seqovl_pattern=TLS_MAX:strategy=23
--lua-desync=fake:ip_id=zero:blob=TLS_MAX
--lua-desync=hostfakesplit:ip_id=zero:host=www.max.ru:midhost=host-4:seqovl=652:seqovl_pattern=TLS_MAX:strategy=24

--lua-desync=multisplit:pos=2:seqovl=652:seqovl_pattern=TLS_VK_KYBER
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=652:seqovl_pattern=TLS_VK_KYBER
--lua-desync=fake:blob=TLS_VK_KYBER
--lua-desync=hostfakesplit:host=vk.com:midhost=host-4:seqovl=652:seqovl_pattern=TLS_VK_KYBER:strategy=27
--lua-desync=fake:ip_id=zero:blob=TLS_VK_KYBER
--lua-desync=hostfakesplit:ip_id=zero:host=vk.com:midhost=host-4:seqovl=652:seqovl_pattern=TLS_VK_KYBER:strategy=28

--lua-desync=multisplit:pos=2:seqovl=652:seqovl_pattern=TLS_RUTRACKER
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=652:seqovl_pattern=TLS_RUTRACKER
--lua-desync=fake:blob=TLS_RUTRACKER
--lua-desync=hostfakesplit:host=rutracker.org:midhost=host-4:seqovl=652:seqovl_pattern=TLS_RUTRACKER:strategy=31
--lua-desync=fake:ip_id=zero:blob=TLS_RUTRACKER
--lua-desync=hostfakesplit:ip_id=zero:host=rutracker.org:midhost=host-4:seqovl=652:seqovl_pattern=TLS_RUTRACKER:strategy=32

--lua-desync=multisplit:pos=2:seqovl=652:seqovl_pattern=TLS_RUTRACKER_KYBER
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=652:seqovl_pattern=TLS_RUTRACKER_KYBER
--lua-desync=fake:blob=TLS_RUTRACKER_KYBER
--lua-desync=hostfakesplit:host=rutracker.org:midhost=host-4:seqovl=652:seqovl_pattern=TLS_RUTRACKER_KYBER:strategy=35
--lua-desync=fake:ip_id=zero:blob=TLS_RUTRACKER_KYBER
--lua-desync=hostfakesplit:ip_id=zero:host=rutracker.org:midhost=host-4:seqovl=652:seqovl_pattern=TLS_RUTRACKER_KYBER:strategy=36

--lua-desync=multisplit:pos=2:seqovl=620:seqovl_pattern=TLS_SBERBANK
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=681:seqovl_pattern=TLS_SBERBANK
--lua-desync=fake:blob=TLS_SBERBANK
--lua-desync=hostfakesplit:host=www.sberbank.ru:midhost=host-4:seqovl=620:seqovl_pattern=TLS_SBERBANK:strategy=39
--lua-desync=fake:ip_id=zero:blob=TLS_SBERBANK
--lua-desync=hostfakesplit:ip_id=zero:host=www.sberbank.ru:midhost=host-4:seqovl=681:seqovl_pattern=TLS_SBERBANK:strategy=40

--lua-desync=multisplit:pos=2:seqovl=1:seqovl_pattern=TLS_GOSUSLUGI
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=652:seqovl_pattern=TLS_GOSUSLUGI
--lua-desync=fake:blob=TLS_GOSUSLUGI
--lua-desync=hostfakesplit:host=www.gosuslugi.ru:midhost=host-4:seqovl=1:seqovl_pattern=TLS_GOSUSLUGI:strategy=43
--lua-desync=fake:ip_id=zero:blob=TLS_GOSUSLUGI
--lua-desync=hostfakesplit:ip_id=zero:host=www.gosuslugi.ru:midhost=host-4:seqovl=652:seqovl_pattern=TLS_GOSUSLUGI:strategy=44

--lua-desync=multisplit:pos=2:seqovl=620:seqovl_pattern=TLS_4PDA
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=681:seqovl_pattern=TLS_4PDA
--lua-desync=fake:blob=TLS_4PDA
--lua-desync=hostfakesplit:host=4pda.to:midhost=host-4:seqovl=620:seqovl_pattern=TLS_4PDA:strategy=47
--lua-desync=fake:ip_id=zero:blob=TLS_4PDA
--lua-desync=hostfakesplit:ip_id=zero:host=4pda.to:midhost=host-4:seqovl=681:seqovl_pattern=TLS_4PDA:strategy=48

--lua-desync=multisplit:pos=2:seqovl=652:seqovl_pattern=TLS_IANA_BIGSIZE
--lua-desync=multisplit:ip_id=zero:pos=2:seqovl=652:seqovl_pattern=TLS_IANA_BIGSIZE
--lua-desync=fake:blob=TLS_IANA_BIGSIZE
--lua-desync=hostfakesplit:host=www.yandex.ru:midhost=host-4:seqovl=652:seqovl_pattern=TLS_IANA_BIGSIZE:strategy=51
--lua-desync=fake:ip_id=zero:blob=TLS_IANA_BIGSIZE
--lua-desync=hostfakesplit:ip_id=zero:host=www.yandex.ru:midhost=host-4:seqovl=652:seqovl_pattern=TLS_IANA_BIGSIZE:strategy=52

--lua-desync=multisplit:pos=1,midsld:seqovl=620:seqovl_pattern=ZERO_512
--lua-desync=multisplit:pos=1,midsld:seqovl=726:seqovl_pattern=ZERO_1024
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,dupsid,sni=www.ozon.com
--lua-desync=hostfakesplit:midhost=host-4:seqovl=620:seqovl_pattern=ZERO_512:strategy=55
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,sni=www.max.ru
--lua-desync=hostfakesplit:midhost=host-4:seqovl=726:seqovl_pattern=ZERO_1024:strategy=56

--lua-desync=multisplit:pos=1,midsld:seqovl=620:seqovl_pattern=fake_default_tcp
--lua-desync=multisplit:pos=1,midsld:seqovl=726:seqovl_pattern=ZERO_256
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,dupsid,sni=www.google.com
--lua-desync=hostfakesplit:midhost=host-4:seqovl=620:seqovl_pattern=fake_default_tcp:strategy=59
--lua-desync=fake:blob=fake_default_tls:tls_mod=rnd,sni=www.google.com
--lua-desync=hostfakesplit:midhost=host-4:seqovl=726:seqovl_pattern=ZERO_256:strategy=60

--new
--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--import=START_QUIC

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--import=START_QUIC

[END]
--new
--filter-tcp=80,443,%DiscordPort%
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%

[amazon]
use_in>>game_mod

[cloudflare]
use_in>>game_mod

[roblox]
use_in>>game_mod

[game_mod]
--new
--filter-udp=443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--import=START_QUIC

--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--import=START_TLS

--new
--filter-udp=0,%GamePort%
--filter-l7=unknown
--payload=all
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=circular:fails=1:udp_out=4:udp_in=1
--lua-desync=fake:blob=QUIC_GOOGLE:ip_autottl=2:ip6_autottl=2:repeats=12:cutoff=n2
--lua-desync=fake:blob=QUIC_VK:ip_autottl=2:ip6_autottl=2:repeats=12:cutoff=n2
--lua-desync=fake:blob=QUIC_RUTRACKER:ip_autottl=2:ip6_autottl=2:repeats=12:cutoff=n2
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:ip_autottl=2:ip6_autottl=2:repeats=12:cutoff=n2
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:ip_autottl=2:ip6_autottl=2:repeats=12:cutoff=n2
--lua-desync=fake:blob=QUIC_FACEBOOK:ip_autottl=2:ip6_autottl=2:repeats=12:cutoff=n2
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:ip_autottl=2:ip6_autottl=2:repeats=12:cutoff=n2
--lua-desync=fake:blob=QUIC_SHORT:ip_autottl=2:ip6_autottl=2:repeats=12:cutoff=n2
--lua-desync=fake:blob=QUIC_SHORT_HEADER:ip_autottl=2:ip6_autottl=2:repeats=12:cutoff=n2
--lua-desync=fake:blob=fake_default_udp:ip_autottl=2:ip6_autottl=2:repeats=12:cutoff=n2