[START]
--wf-tcp-in=80,443,%DiscordPort%
--wf-udp-in=443,%DiscordPortUPD%,%GamePort%
--wf-tcp-out=80,443,%DiscordPort%
--wf-udp-out=443,%DiscordPortUPD%,%GamePort%

%INIT_LUA%
%INIT_BLOB%
--blob=fake_default_udp:0x00
--blob=fake_default_tcp:0x00

--template=START_QUIC
--lua-desync=circular:fails=1:time=100
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=8
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=8
--lua-desync=fake:blob=QUIC_VK:repeats=6
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=8
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=8
--lua-desync=fake:blob=QUIC_SHORT:repeats=8
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=8
--lua-desync=fake:blob=fake_default_udp:repeats=8
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:badsum
--lua-desync=fake:blob=QUIC_GOOGLE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_VK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=QUIC_SHORT_HEADER:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=fake_default_udp:repeats=6:tcp_md5:badsum

--new
--template=START_TLS
--lua-desync=circular:fails=1:retrans=2:maxseq=32768:reset
--lua-desync=fake:blob=QUIC_GOOGLE:tls_mod=rnd,dupsid,sni=www.google.com:tcp_seq=-600000:tcp_ts=-600000:repeats=8:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=www.google.com:midhost=host-2:tls_mod=rnd,dupsid,sni=www.google.com:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=fake:blob=TLS_4PDA:tls_mod=rnd,dupsid,sni=ria.ru:tcp_seq=-600000:tcp_ts=-600000:repeats=8:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=ria.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=ria.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=hostfakesplit:host=ria.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=ria.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=ria.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=ria.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=fake:blob=TLS_IANA:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_seq=-600000:tcp_ts=-600000:repeats=8:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.yandex.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=www.yandex.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=fake:blob=TLS_IANA_BIGSIZE:tls_mod=rnd,dupsid,sni=www.yandex.ru:tcp_seq=-600000:tcp_ts=-600000:repeats=8:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.yandex.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=www.yandex.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.yandex.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=fake:blob=TLS_VK:tls_mod=rnd,dupsid,sni=vk.com:tcp_seq=-600000:tcp_ts=-600000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=vk.com:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=vk.com:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=6:tcp_md5:badsum
--lua-desync=hostfakesplit:host=vk.com:midhost=host-2:tls_mod=rnd,dupsid,sni=vk.com:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=vk.com:midhost=host-2:tls_mod=rnd,dupsid,sni=vk.com:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=TLS_VK_KYBER:tls_mod=rnd,dupsid,sni=dzen.ru:tcp_seq=-600000:tcp_ts=-600000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=dzen.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=dzen.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=6:tcp_md5:badsum
--lua-desync=hostfakesplit:host=dzen.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=dzen.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=dzen.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=dzen.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=6:tcp_md5:badsum
--lua-desync=fake:blob=TLS_ALERT:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:tcp_seq=-600000:tcp_ts=-600000:repeats=8:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=hostfakesplit:host=hd.kinopoisk.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=hd.kinopoisk.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=hd.kinopoisk.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=fake:blob=TLS_MAX:tls_mod=rnd,dupsid,sni=www.max.ru:tcp_seq=-600000:tcp_ts=-600000:repeats=8:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.max.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.max.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.max.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.max.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=www.max.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.max.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=fake:blob=TLS_SHORT:tls_mod=rnd,dupsid,sni=www.ozon.ru:tcp_seq=-600000:tcp_ts=-600000:repeats=8:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=www.ozon.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.ozon.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=fake:blob=TLS_SBERBANK:tls_mod=rnd,dupsid,sni=www.sberbank.ru:tcp_seq=-600000:tcp_ts=-600000:repeats=8:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.sberbank.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=www.sberbank.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=hostfakesplit:host=www.sberbank.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.sberbank.ru:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=www.sberbank.ru:midhost=host-2:tls_mod=rnd,dupsid,sni=www.sberbank.ru:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=fake:blob=TLS_RUTRACKER:tls_mod=rnd,dupsid,sni=rutracker.org:tcp_seq=-600000:tcp_ts=-600000:repeats=8:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=rutracker.org:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=rutracker.org:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=hostfakesplit:host=rutracker.org:midhost=host-2:tls_mod=rnd,dupsid,sni=rutracker.org:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=rutracker.org:midhost=host-2:tls_mod=rnd,dupsid,sni=rutracker.org:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=fake:blob=TLS_RUTRACKER_KYBER:tls_mod=rnd,dupsid,sni=rutracker.org:tcp_seq=-600000:tcp_ts=-600000:repeats=8:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=rutracker.org:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=fakedsplit:tls_mod=rnd,dupsid,sni=rutracker.org:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum
--lua-desync=hostfakesplit:host=rutracker.org:midhost=host-2:tls_mod=rnd,dupsid,sni=rutracker.org:seqovl=1:seqovl_pattern=fake_default_tcp:tcp_seq=-10000:tcp_ts=-10000:repeats=6:badsum
--lua-desync=hostfakesplit:host=rutracker.org:midhost=host-2:tls_mod=rnd,dupsid,sni=rutracker.org:seqovl=652:seqovl_pattern=fake_default_tcp:tcp_seq=-600000:tcp_ts=-600000:repeats=8:tcp_md5:badsum

--new
--filter-udp=443
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--import=START_QUIC

[discord]
--new
--filter-udp=%DiscordPortUPD%
--filter-l7=discord,stun,quic
--payload=quic_initial,discord_ip_discovery,stun
--import=START_QUIC

[END]
--new
--filter-tcp=80,443,%DiscordPort%
%BLOCKLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%

[amazon]
use_in>>game_mod

[cloudflare]
use_in>>game_mod

[roblox]
use_in>>game_mod

[game_mod]
--new
--filter-udp=443
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--import=START_QUIC

--new
--filter-tcp=80,443,%GamePort%
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--import=START_TLS

--new
--filter-udp=0,%GamePort%
--payload=all
%IP-SETLIST%
%DOMAINS-EXCLUDE%
%IP-EXCLUDE%
--lua-desync=circular:key=udp_rules_game:fails=1:udp_out=4:udp_in=1
--lua-desync=fake:blob=fake_default_udp:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_GOOGLE:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_VK:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER1:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_RUTRACKER_KYBER2:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_FACEBOOK:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_FACEBOOK_QUICHE:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_SHORT:autottl=2:repeats=12:cutoff=n3
--lua-desync=fake:blob=QUIC_SHORT_HEADER:autottl=2:repeats=12:cutoff=n3