[FAKE]
TLS_ALERT=tls_alert.bin
TLS_VK=tls_clienthello_vk_com.bin
TLS_VK_KYBER=tls_clienthello_vk_com_kyber.bin
TLS_GOOGLE=tls_clienthello_www_google_com.bin
TLS_RUTRACKER=tls_clienthello_rutracker_org.bin
TLS_RUTRACKER_KYBER=tls_clienthello_rutracker_org_kyber.bin
TLS_SHORT=quic_short.bin
TLS_SBERBANK=tls_clienthello_sberbank_ru.bin
TLS_GOSUSLUGI=tls_clienthello_gosuslugi_ru.bin
TLS_MAX=tls_clienthello_max_ru.bin
TLS_4PDA=tls_clienthello_4pda_to.bin
TLS_IANA=tls_clienthello_iana_org.bin
TLS_IANA_BIGSIZE=tls_clienthello_iana_org_bigsize.bin

IANA_HTTP=http_iana_org.bin
NTP4=ntp4.bin

STUN=stun.bin

QUIC_VK=quic_initial_vk_com.bin
QUIC_GOOGLE=quic_initial_www_google_com.bin
QUIC_RUTRACKER=quic_initial_rutracker_org.bin
QUIC_RUTRACKER_KYBER1=quic_initial_rutracker_org_kyber_1.bin
QUIC_RUTRACKER_KYBER2=quic_initial_rutracker_org_kyber_2.bin
QUIC_FACEBOOK=quic_initial_facebook_com.bin
QUIC_FACEBOOK_QUICHE=quic_initial_facebook_com_quiche.bin
QUIC_SHORT=quic_short.bin
QUIC_SHORT_HEADER=quic_short_header.bin

ZERO_256=zero_256.bin
ZERO_512=zero_512.bin
ZERO_1024=zero_1024.bin
